*.o
*.a
*.so
tags
nohup.out
cscope.*.out
cscope.out
cscope.files
*.pyc
*.pyo
*.log
*.swp
*.swo
venv
core
dump.rqb
.DS_Store
*.class

node_modules

*.png
*.jpg
*.gif
# 字体
*.ttf
*.svg
*.eot
*.woff
result.out
build/
bin/
!bamboo/**/bin
core

*.gz
*.bak
