{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock %}

{% block page_content %}
    <h1>Hello, 
        {% if name %}
            {{name}}
        {% else %}
            Stranger
        {% endif %}
    </h1>

    {% if not known %}
        <p>Please to meet you!</p>
    {% else %}
        <p>Happy to see you again.</p>
    {% endif %}

    {{ wtf.quick_form(form) }}
    <hr />
    <h2>Your browser is:</h2>
    <h3>{{user_agent}}</h3>
{% endblock %}
