table {
  /* 表格边框模型 */
  border-collapse: collapse;
  font-size: 75%;
  line-height: 1.4;
  border: solid 2px #ccc;
  width: 100%;
}

th, td {
  padding: .3em .5em;
  /* 鼠标在对象上的光标形状 */
  cursor: progress;
}

th {
  font-weight: normal;
  text-align: left;
  padding-left: 15px;
}


/* 结构伪类: 对于子元素中仅仅存在一个td */
td:only-of-type {
  font-weight: bold;
  color: #444;
}

/* 否定伪类: 最后一个th元素 */
tbody th:not(.end) {
  background: 
}
